In [1]:
import pandas as pd

In [14]:
ams = pd.read_csv('Amsterdam_requests_new.csv')
ams.treq = ams.apply(lambda row: pd.Timestamp(row.treq), axis=1)

ams

,Unnamed: 0,origin,destination,treq,tarr,ttrav,dist,orig_geo,dest_geo,origin_y,origin_x,destination_y,destination_x,haver_dist
0,0,46343829,5777055555,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,2696,POINT (4.8889728 52.3618803),POINT (4.8947789 52.3796757),52.361880,4.888973,52.379676,4.894779,2017.639692
1,1,1525015196,2020569141,1900-01-01 18:29:00,1900-01-01 18:53:00,0 days 00:24:00.000000000,3489,POINT (4.9062867 52.3591398),POINT (4.8847412 52.3739514),52.359140,4.906287,52.373951,4.884741,2202.841087
2,2,46484989,6219354473,1900-01-01 13:24:00,1900-01-01 13:48:00,0 days 00:24:00.000000000,5152,POINT (4.8663224 52.3934468),POINT (4.8811843 52.4257211),52.393447,4.866322,52.425721,4.881184,3727.642905
3,4,46445391,1732413559,1900-01-01 14:59:00,1900-01-01 15:28:00,0 days 00:29:00.000000000,4787,POINT (4.8225358 52.3841401),POINT (4.7929588 52.3574315),52.384140,4.822536,52.357431,4.792959,3584.982166
4,5,442534817,46453553,1900-01-01 11:30:00,1900-01-01 12:16:00,0 days 00:46:00.000000000,2440,POINT (4.8042997 52.3903223),POINT (4.8330381 52.3859123),52.390322,4.804300,52.385912,4.833038,2010.989249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93291,100316,2101786750,520376452,1900-01-01 13:20:00,1900-01-01 16:01:00,0 days 02:41:00.000000000,3198,POINT (4.8395385 52.345118),POINT (4.8273257 52.3651666),52.345118,4.839538,52.365167,4.827326,2378.601141
93292,100317,30154649,46282361,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,5797,POINT (4.9420068 52.3601681),POINT (4.869708 52.3477848),52.360168,4.942007,52.347785,4.869708,5099.651861
93293,100318,46419807,46330781,1900-01-01 23:02:00,1900-01-01 23:25:00,0 days 00:23:00.000000000,3290,POINT (4.8942334 52.3786703),POINT (4.8928959 52.358953),52.378670,4.894233,52.358953,4.892896,2194.346460
93294,100319,46244835,46519996,1900-01-01 10:06:00,1900-01-01 10:32:00,0 days 00:26:00.000000000,9877,POINT (4.9388043 52.3393751),POINT (4.9167433 52.4049547),52.339375,4.938804,52.404955,4.916743,7444.338424
93295,100320,372972690,46374667,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,6140,POINT (4.956963 52.3562642),POINT (4.8949886 52.3692659),52.356264,4.956963,52.369266,4.894989,4449.622919

In [23]:
df.treq.min()

Timestamp('1900-01-01 12:01:00')

In [22]:
s = pd.Timestamp('1900-01-01 12:00:00')
e = pd.Timestamp('1900-01-01 18:00:00')
df = ams[ams.treq>s]
df

,Unnamed: 0,origin,destination,treq,tarr,ttrav,dist,orig_geo,dest_geo,origin_y,origin_x,destination_y,destination_x,haver_dist
0,0,46343829,5777055555,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,2696,POINT (4.8889728 52.3618803),POINT (4.8947789 52.3796757),52.361880,4.888973,52.379676,4.894779,2017.639692
1,1,1525015196,2020569141,1900-01-01 18:29:00,1900-01-01 18:53:00,0 days 00:24:00.000000000,3489,POINT (4.9062867 52.3591398),POINT (4.8847412 52.3739514),52.359140,4.906287,52.373951,4.884741,2202.841087
2,2,46484989,6219354473,1900-01-01 13:24:00,1900-01-01 13:48:00,0 days 00:24:00.000000000,5152,POINT (4.8663224 52.3934468),POINT (4.8811843 52.4257211),52.393447,4.866322,52.425721,4.881184,3727.642905
3,4,46445391,1732413559,1900-01-01 14:59:00,1900-01-01 15:28:00,0 days 00:29:00.000000000,4787,POINT (4.8225358 52.3841401),POINT (4.7929588 52.3574315),52.384140,4.822536,52.357431,4.792959,3584.982166
7,8,1595259772,1511600051,1900-01-01 12:56:00,1900-01-01 13:25:00,0 days 00:29:00.000000000,2611,POINT (4.939765 52.3615899),POINT (4.9662637 52.3699829),52.361590,4.939765,52.369983,4.966264,2026.845230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93289,100314,46179708,5805453835,1900-01-01 17:36:00,1900-01-01 18:01:00,0 days 00:25:00.000000000,3871,POINT (4.8795646 52.3250814),POINT (4.8906641 52.3540339),52.325081,4.879565,52.354034,4.890664,3306.510693
93291,100316,2101786750,520376452,1900-01-01 13:20:00,1900-01-01 16:01:00,0 days 02:41:00.000000000,3198,POINT (4.8395385 52.345118),POINT (4.8273257 52.3651666),52.345118,4.839538,52.365167,4.827326,2378.601141
93292,100317,30154649,46282361,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,5797,POINT (4.9420068 52.3601681),POINT (4.869708 52.3477848),52.360168,4.942007,52.347785,4.869708,5099.651861
93293,100318,46419807,46330781,1900-01-01 23:02:00,1900-01-01 23:25:00,0 days 00:23:00.000000000,3290,POINT (4.8942334 52.3786703),POINT (4.8928959 52.358953),52.378670,4.894233,52.358953,4.892896,2194.346460
93295,100320,372972690,46374667,1900-01-01 19:36:00,1900-01-01 20:00:00,0 days 00:24:00.000000000,6140,POINT (4.956963 52.3562642),POINT (4.8949886 52.3692659),52.356264,4.956963,52.369266,4.894989,4449.622919

In [46]:
(e.hour-s.hour)/0.5

12.0

In [67]:
e.strftime('%Y-%m-%d')

'1900-01-01'

In [71]:
ams = pd.read_csv('Amsterdam_requests_new.csv')
ams.treq = ams.apply(lambda row: pd.Timestamp(row.treq), axis=1)

s = pd.Timestamp('1900-01-01 12:00:00')
e = pd.Timestamp('1900-01-01 18:00:00')
ams = ams[ams.treq>s]

In [72]:
window_number = (e.hour-s.hour)/0.5
t = s
sample_size = 5
seed = 1

for i in range(0,int(window_number)):
    t_new = t+pd.Timedelta(minutes=30)
    df = ams.loc[(ams.treq<t_new) & (ams.treq>t)]
    df = df.sample(sample_size, random_state= seed)
    df.to_csv('Olga/trips{}_{}.csv'.format(t.strftime('%H-%M-%S'),t_new.strftime('%H-%M-%S')))
    t = t_new